<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="HHSwarm.TestClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="HHSwarm.TestClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
  <applicationSettings>
    <HHSwarm.TestClient.Properties.Settings>
      <setting name="GameServerAddress" serializeAs="String">
        <value>game.havenandhearth.com</value>
      </setting>
      <setting name="GameServerPort" serializeAs="String">
        <value>1870</value>
      </setting>
      <setting name="AuthenticationServerAddress" serializeAs="String">
        <value>game.havenandhearth.com</value>
      </setting>
      <setting name="AuthenticationServerPort" serializeAs="String">
        <value>1871</value>
      </setting>
      <setting name="AuthenticationServerSslProtocol" serializeAs="String">
        <value>Tls11</value>
      </setting>
      <setting name="AuthenticationServerCertHashes" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>9F3B633FF9CDDA0108EDDDE8332366F0DED2E920</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="ResourceServerBaseUri" serializeAs="String">
        <value>http://game.havenandhearth.com/hres</value>
      </setting>
      <setting name="HeartBeatInterval" serializeAs="String">
        <value>00:00:05</value>
      </setting>
      <setting name="ExtractResourcesTo" serializeAs="String">
        <value>C:\TEMP\HHSwarm-ExtractedResources</value>
      </setting>
    </HHSwarm.TestClient.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <HHSwarm.TestClient.Properties.Settings>
      <setting name="PlayerLoginName" serializeAs="String">
        <value>$LoginName$</value>
      </setting>
      <setting name="PlayerPassword" serializeAs="String">
        <value>$Password$</value>
      </setting>
    </HHSwarm.TestClient.Properties.Settings>
  </userSettings>
  <system.diagnostics>
    <sources>
      <source name="System.Net"/>
      <source name="System.Net.Cache"/>
      <source name="System.Net.Http"/>
      <source name="System.Net.Sockets"/>
      <source name="System.Net.WebSockets"/>
      <source name="HHSwarm.Transport"/>
      <source name="HHSwarm.Authentication"/>
      <source name="HHSwarm.Session"/>
      <source name="HHSwarm.Relay"/>
      <source name="HHSwarm.Resources"/>
      <source name="HHSwarm.GameObjects"/>
    </sources>
    <switches>
      <add name="System.Net" value="Off"/>
      <add name="System.Net.Cache" value="Off"/>
      <add name="System.Net.Http" value="Off"/>
      <add name="System.Net.Sockets" value="Off"/>
      <add name="System.Net.WebSockets" value="Off"/>
      <add name="HHSwarm.Transport" value="Off"/>
      <add name="HHSwarm.Authentication" value="Verbose"/>
      <add name="HHSwarm.Session" value="Off"/>
      <add name="HHSwarm.Relay" value="Verbose"/>
      <add name="HHSwarm.Resources" value="Verbose"/>
      <add name="HHSwarm.GameObjects" value="Verbose"/>
    </switches>
    <trace autoflush="true"/>
  </system.diagnostics>
</configuration>
