<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <sources>
      <source name="System.Net"/>
      <source name="System.Net.Cache"/>
      <source name="System.Net.Http"/>
      <source name="System.Net.Sockets"/>
      <source name="System.Net.WebSockets"/>
      <source name="HHSwarm.Transport"/>
      <source name="HHSwarm.Authentication"/>
      <source name="HHSwarm.Session"/>
      <source name="HHSwarm.Relay"/>
      <source name="HHSwarm.Resources"/>
    </sources>
    <switches>
      <add name="System.Net" value="Verbose"/>
      <add name="System.Net.Cache" value="Verbose"/>
      <add name="System.Net.Http" value="Verbose"/>
      <add name="System.Net.Sockets" value="Verbose"/>
      <add name="System.Net.WebSockets" value="Verbose"/>
      <add name="HHSwarm.Transport" value="Verbose"/>
      <add name="HHSwarm.Authentication" value="Verbose"/>
      <add name="HHSwarm.Session" value="Verbose"/>
      <add name="HHSwarm.Relay" value="Verbose"/>
      <add name="HHSwarm.Resources" value="Verbose"/>
    </switches>
    <trace autoflush="true"/>
  </system.diagnostics>
</configuration>